.Cell {
  border: 0.5px solid #666;
  border-width: 1px 1px 0 0;
  background: #3B4451;
  user-select: none;
  box-sizing: border-box;
  line-height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buffer-cell {
  background: #222; /*Previously was: #444 */
}

.Cell.revealed {
  background: #1A1E24;
}

.Cell.mistake {
  background-image: url(/images/mine-bg.png);
}

.Cell.mine {
  border: 1px solid #aE3E3F;
  background-color: #4b0a0b;
}

.mine-icon {
  vertical-align: middle;
}

.Cell.animating .mine-icon {
  animation: pop-in 500ms;
}

@keyframes pop-in {
  0% { transform: scale(0, 0); }
  100% { transform: scale(1, 1); }
}

.Cell img {
  max-width: 100%;
  max-height: 100%;
}

.Cell .number {
  font-weight: bold;
  font-size: 18px;
}

.Cell .num-1 { color: #8EA96C; }
.Cell .num-2 { color: #35A59C; }
.Cell .num-3 { color: #E6B55C; }
.Cell .num-4 { color: #CE4E4F; }
.Cell .num-5 { color: #B991BD; }
.Cell .num-6 { color: purple; }
.Cell .num-7 { color: pink; }
.Cell .num-8 { color: white; }
