.chat-box {
  border: 3px #212f3d solid;
  text-align: left;
  justify-content: left;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 10 auto;
  width: 100%;
  height: 100%;
  background: #1A1E24;
  box-shadow: 0.1em 0.1em 0.5em black;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.messages-pane {
  flex: 2 1 50%;
  overflow: auto;
  background: #1A1E24;
}

.input-area {
  flex: 0 1;
  display: flex;
  flex-flow: column nowrap;
}

.chatbox-input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.input-text {
  background: #212f3d;
  width: 100%;
  height: auto;
  border: none;
  padding: 8px 20px;
  color: #d0e7f6;
  font: Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.input-text:focus {
  outline: none;
}

.input-text::-webkit-input-placeholder {
  padding-left: 0.1em;
  font-family: Arial, sans-serif;
  color: #eee;
}

.input-text:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* ///// Input Buttons //// */
.inputButtons {
  display: flex;
  margin: 0 auto;
  width: 350px;
  padding-bottom: 10px;
}

.inputButtonSend {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  color: #212f3d;
  flex: 1;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background: #2980b9;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  margin-right: 5px;
}

.inputButtonSend:hover {
  color: #eee;
  cursor: pointer;
  background: #2c6665;
}

.inputButtonClear {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  color: #212f3d;
  flex: 1;
  font-size: 1em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background: #eee;
  padding: 12px;
  margin-left: 5px;
}

.inputButtonClear:hover {
  color: #151f29;
  background: #e9b74c;
  cursor: pointer;
}

/* ///// Messages Field //// */
.messages-field {
  height: 70%;
  box-sizing: border-box;
  padding: 0.1em;
  overflow-y: auto;
}

.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: 0.5s ease-out;
}

.message-appear {
  opacity: 0.01;
}

.message-appear.message-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Type A */
.single-message {
  text-align: left;
  margin: 0.2em 0.2em 0.2em 0.5em;
}

.single-message .jdenticon,
.single-message .author,
.single-message .separator,
.single-message .message {
  display: inline-block;
  vertical-align: middle;
}

.single-message .author {
  color: #d0e7f6;
  font-weight: 200;
}

.single-message .separator {
  margin: 0 5px;
}

/* Type B */
.author-block {
  text-align: left;
  margin: 4px;
  padding-left: 33px;
  border-radius: 0.2em;
  position: relative;
}

.author-block .jdenticon {
  position: absolute;
  top: 2px;
  left: 0;
}

.author-block .content {
  position: relative;
  line-height: 1.1;
}

.author-block .author-name {
  display: inline-block;
  font-size: 12px;
  font-weight: 200;
  margin: 0;
  color: #d0e7f6;
}

.author-block .message-block {
  font-size: 16px;
}


/* ------------ Scrollbar CSS-------------- */

.chat-box::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-track-piece {
  background-color: #030303;
}

.chat-box::-webkit-scrollbar-corner {
  background-color: #030303;
}

.chat-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-linear-gradient(#33ccff, #0066cc);
}
