.chat-box {
  border: 3px #212f3d solid;
  text-align: left;
  justify-content: left;
  padding: 0;
  height: 100%;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 10 auto;
  width: 100%;
  height: 100%;
  background: #1A1E24;
  box-shadow: 0.1em 0.1em 0.5em black;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}

.inputField {
  height: 30%;
  display: flex;
  flex-flow: column nowrap;
}

.chatbox-input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.input-text {
  background: #212f3d;
  width: 100%;
  height: auto;
  border: none;
  padding: 8px 20px;
  color: #d0e7f6;
  font: Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.input-text:focus {
  outline: none;
}

.input-text::-webkit-input-placeholder {
  padding-left: 0.1em;
  font-family: Arial, sans-serif;
  color: #eee;
}

.input-text:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* ///// Input Buttons //// */
.inputButtons {
  display: flex;
  margin: 0 auto;
  width: 350px;
  padding-bottom: 10px;
}

.inputButtonSend {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  color: #212f3d;
  flex: 1;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background: #2980b9;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  margin-right: 5px;
}

.inputButtonSend:hover {
  color: #eee;
  cursor: pointer;
  background: #2c6665;
}

.inputButtonClear {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  color: #212f3d;
  flex: 1;
  font-size: 1em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background: #eee;
  padding: 12px;
  margin-left: 5px;
}

.inputButtonClear:hover {
  color: #151f29;
  background: #e9b74c;
  cursor: pointer;
}

/* ///// Messages Field //// */
.messages-field {
  height: 70%;
  box-sizing: border-box;
  padding: 0.1em;
  overflow-y: auto;
}

.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: 0.5s ease-out;
}

.message-appear {
  opacity: 0.01;
}

.message-appear.message-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Type A */
.single-message-field-a {
  text-align: left;
  margin: 0.2em 0.2em 0.2em 0.5em;
  background: #1A1E24;
  border-bottom: 1px solid #ccc;
}

.single-message-field-a .message-authorname-container {
  margin: 0;
  padding: 0.1em;
  /* background-color: #212f3d; */
}

.single-message-field-a .message-author-name {
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
  font-weight: 100;
  color: #d0e7f6;
}

.single-message-field-a .jdenticon {
  align-items: left !important;
}

.single-message-field-a .message-text {
  text-align: left;
  margin: 0px 10px 10px 0px;
  padding: 20px;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 600;
  color: #d0e7f6;
}

.single-message-field-a .chatbox-line-divide {
  background: #212f3d !important;
  color: #212f3d !important;
  width: 95%;
  height: 20%;
}

/* Type B */
.single-message-field-b {
  text-align: left;
  margin: 0.2em 0.2em 0.2em 0.5em;
  background: #1A1E24;
  border-radius: 0.2em;
}

.single-message-field-b .message-authorname-container {
  margin: 0;
  padding: 0.1em;
  display: inline-block;
  /* background-color: #212f3d; */
}

.single-message-field-b .message-author-name {
  display: inline-block;
  font-size: 18px;
  margin: 0 11px 0 5px;
  font-weight: 100;
  color: #d0e7f6;
}

.single-message-field-b .jdenticon {
  align-items: left !important;
}

.single-message-field-b .message-text {
  text-align: left;
  margin: 0px 10px 10px 0px;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 400;
  color: #d0e7f6;
}

.single-message-field-b .chatbox-line-divide {
  background: #212f3d !important;
  color: #212f3d !important;
  width: 95%;
  height: 20%;
}

/* ------------ Scrollbar CSS-------------- */

.chat-box::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-track-piece {
  background-color: #030303;
}

.chat-box::-webkit-scrollbar-corner {
  background-color: #030303;
}

.chat-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-linear-gradient(#33ccff, #0066cc);
}
