* {
  box-sizing: border-box;
  font-family: helvetica neue, helvetica, arial, sans-serif;
}

.create-game-form {
  z-index: 99999;
}

.registration-header {
  margin-top: 50px;
  background: -webkit-linear-gradient(#6600ff, #3d65d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create-game-form h6 {
  background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reg-hr {
  width: 80%;
  margin-top: 30px;
}

.register-input {
  margin: 35px 10px 2px 10px;
  background: white;
  color: black;
  border-radius: 25px;
}

/* ============= Register Button ========= */
.register-button {
  background: white;
  color: blue;
  border-radius: 25px;
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -webkit-box-shadow:
      0px 3px rgba(128,128,128,1),
      0px 4px rgba(118,118,118,1),
      0px 5px rgba(108,108,108,1),
      0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),
      0px 8px rgba(78,78,78,1),
      0px 14px 6px -1px rgba(128,128,128,1);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.register-button span {
    -webkit-box-shadow:  0px -1px #fff, 0px 1px 1px #FFFFFF;
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: #3A474D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.register-button span:hover {
    color: black;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.register-button:active {
    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1),
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 10px 2px 0px rgba(128,128,128,.6);
}

.register-button:active span{
    -webkit-transform: translate(0, 5px);
}

.button span:after {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 14px;
    top: 12px;
    font-weight: 700;
    color: #AEBF3B;
    text-shadow: 0px 1px #fff, 0px -1px #97A63A;
    font-size: 26px;
}

/* =========== =========== =========== =========== ===========*/
