.field-container {
  flex: 1 1;
  background: #111 url('/images/stripe-bg.png');
  position: relative;
}

.ReactVirtualized__Grid {
  overflow: hidden;  /* disable scrollbars altogether */
}

.ReactVirtualized__Grid__innerScrollContainer {
  margin: auto;
}

.mouse-pan-indicator {
  transition: opacity 250ms;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
}