.game-hud {
  display: flex;
  flex-direction: column;
  width: 325px; /* change back to 325 after done with chatbox. */
  max-width: 90%;
  background: #222;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: width 300ms;
  font-size: 14px;
}

.game-hud.collapsed {
  width: 20px;
}

.game-hud .banner {
  display: flex;
  height: 50px;
  background-color: #000000;
}

.game-hud .banner-img {
  padding: 10px;
  height: 50px;
  max-width: 90%;
  margin: auto;
}

.game-hud .collapser {
  display: inline-block;
  cursor: pointer;
  background: #ddd;
  margin-left: -20px;
  border-bottom-left-radius: 50%;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.3);
}


.game-hud .game-hud-nav {
  display: flex;
  max-width: 100%;
  font-size: 1.1em;
}

.game-hud .game-hud-nav a {
  color: #eee;
  padding: 10px;
  padding-right: 20px;
  text-decoration: none;
  background: #336;
}
.game-hud .game-hud-nav .remaining-mines {
  padding: 10px;
  flex: 1 1;
  background: #5D0B0D;
}
.game-hud .game-hud-nav .remaining-mines span {
  font-weight: 100;
}

.game-hud .collapser img {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  transition: transform 300ms;
}

.game-hud .collapsed .collapser img {
  transform: rotate(180deg);
}


.game-hud .leader-board-title /* sic */ {
  text-align: center;
  padding-top: 0;
  margin-top: 15px;
  color: #ddd;
  letter-spacing: 0.3em;
}

.game-hud .game-leaderboard {
  flex: 1 10 50%;
  overflow: auto;
}

.game-hud .game-chat {
  flex: 10 1;
}
