.game-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.banner {
    display: block;
    height: 30px; 
    background-color: #000000;
    margin-top: 10px; 
    margin-bottom: 10px;  
    padding: 0px;
}

.banner-img {
  width: auto;
  height: 100%;
}

.game-board {
  display: flex;
  flex-direction: column; 
  height: auto;
}
