
.game-over h2 {
  position: absolute;
  top: 30%;
  left: 0%;
  height: 190px;
  color: #336;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px #e3e4f3,
    0 0 25px #21acba,  /* 5d0b0d */
    0 0 5px #91fcfe,
    0 0 10px #4405fc;
  animation: blink 1s steps(4, start) 3;
}

/* 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */

 @keyframes blink{
   to{
     visibility: hidden
   }
}

.game-over-title {
  flex: 1 1;
}


/* ----------------------  GameOver Stats Screen ---------------- */

.stats-jumbotron {
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 6px;
  margin-bottom: 30px;
  display: block;
}

.stats-header {
  font-size: 63px;
  font-weight: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.1;
  display: block;
  left: 0;
  right: 0;
  top: 0.8em;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: -webkit-linear-gradient(#6600ff, #150a4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: title 2s 4s 1 ease both;
}

@keyframes title {
  0% {
    transform: translateZ(500px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

.stats-overlay {
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 2.5%;
  width: 95%;
  height: 795px;
  margin: 0 auto;
  background: rgba(0, 0, 0, .92);
  border: 5px dotted slateblue;
  z-index: 99999;
  animation: end-game-stats 3s 3.8s 1 ease both;
}

@keyframes end-game-stats {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 20px;
  }
}

.stats-info {
  font-weight: 400;
  font-size: 30px;
  color: slateblue;
  border: transparent;
  background: transparent;
  display: inline-block;
  margin: 100px auto 15px;
  cursor: pointer;
}
.stats-header {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#eee, #4148b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle {
  z-index: 201;
  color: black;
  background: black;
	border-radius: 50%;
  border: 1.5px solid #eec02c;
  height: 7em;
  width: 7em;
  left: calc(50% - 3em);
  bottom: 17.6em;
  position: absolute;
}

.holochain-logo {
  z-index: 200;
  height: 13em;
  width: 13em;
  left: 50%;
  margin-left: -6em;
  bottom: 14.6em;
  position: absolute;
  animation: spin 7s 2 linear;
  animation-delay: 0.1s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.winner-jdenticon {
  width: 75px;
  height: 75px;
  display:block;
  margin: 0 auto;
}

.winner {
  z-index: 300;
  text-align: center;
  padding: 12px;
  min-width: 150px;
  position: relative;
}

.winner .username,
.winner .score {
  justify-content: center;
}
.winner .score {
  margin: 5px;
}

.winner .username {
  position: absolute;
  top: 24px;
  left: 5%;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.5);
}

/* .place-1 */
.place-1 {
  left: 47.5%;
  margin-left: -1.9em;
  bottom: 18em;
  position: absolute;
  width: 200px;
  color: #eec02c;
}

.place-1.me {
  color: #eec02c;
}

.place-1::before {
  content: "1st";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -22px;
  font-size: 0.7em;
  padding: 3px 8px;
  background: #eec02c;
  border-radius: 10px;
  color: black;
}

/* .place-2 */
.place-2 {
  z-index: 199;
    left: calc(1% + 5em);
  bottom: 12em;
  position: absolute;
  color: #bdbece;
  border: 2px solid #bdbece;
  border-radius: 20px;
  padding: 10px;
}

.place-2.me {
  color: #bdbece;
}

.place-2::before {
  content: "2nd";
  position: absolute;
  top: -33px;
  left: 50%;
  margin-left: -22px;
  font-size: 0.7em;
  padding: 3px 8px;
  background: #bdbece;
  border-radius: 10px 10px 0 0;
  color: black;
}

/* .place-3 */
.place-3 {
  z-index: 199;
  left: calc(100% - 10em);
  bottom: 12em;
  position: absolute;
  color: #cd7f32;
  border: 2px solid #cd7f32;
  border-radius: 20px;
  padding: 10px;
}

.place-3.me {
  color: #cd7f32;
}

.place-3::before {
  content: "3rd";
  position: absolute;
  top: -33px;
  left: 50%;
  margin-left: -22px;
  font-size: 0.7em;
  padding: 3px 8px;
  background: #cd7f32;
  border-radius: 10px 10px 0 0;
  color: black;
}

.winners-podium {

}

.medal-list-container {
  margin-top: 47%;
}

.medals-list {
  display: inline-block;
  display: flex;
  width: 100%;
  height: 260px;
}

.medal {
  position: relative;
  flex: 1 1 auto;
  height: 100px;
  margin: 8px 5px;
}

.medal-title {
  color: #29a19e;
}
