.game-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;  /* for the benefit of the collapsed GameHUD */
}

.banner-img {
  width: auto;
  height: 100%;
}

.game-board {
  display: flex;
  flex-direction: column;
  height: auto;
}


.game-over {
  max-width: 100%;
  /* display: flex;
  flex-direction: column; */
}
