.game-hud {
  width: 325px; /* change back to 325 after done with chatbox. */
  background: #222;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: width 300ms;
  font-size: 14px;
}

.game-hud.collapsed {
  width: 20px;
}

.game-hud .banner {
  display: flex;
  height: 50px;
  background-color: #000000;
}

.game-hud .banner-img {
  padding: 10px;
  height: 50px;
  width: auto;
  margin: auto;
}

.game-hud .collapser {
  display: inline-block;
  cursor: pointer;
  background: #ddd;
  margin-left: -20px;
  border-bottom-left-radius: 50%;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.3);
}


.game-hud .game-hud-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

.game-hud .game-hud-nav a {
  color: #eee;
  padding: 10px;
  text-decoration: none;
  background: #336;
}
.game-hud .game-hud-nav .remaining-mines {
  padding: 10px 10px 10px 0;
}
.game-hud .game-hud-nav .remaining-mines span {
  font-weight: 100;
}

.game-hud .collapser img {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  transition: transform 300ms;
}

.game-hud .collapsed .collapser img {
  transform: rotate(180deg);
}
