.leader-board {

}

.leader-board-table {
  margin: auto;
  color: #bbb;
}

.leader-board-table td {
  padding: 0px 3px;
}

.leader-board-table .player {
  text-align: left;
  vertical-align: middle;
}

.leader-board-table .handle {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.leader-board-table .score {
  text-align: right;
  vertical-align: middle;
  color: #eee;
  font-size: 1.2em;
}