/*.Lobby * {
  animation: none !important;
}*/

html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #050833;
  font-size: 16px;
  color: #fff;
  text-align: center;
  height: 100%;
  /* overflow: hidden; */
}

/* ------------ Scrollbar CSS-------------- */

.lobby-overlay::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.lobby-overlay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.lobby-overlay::-webkit-scrollbar-track-piece {
  background-color: #030303;
}

.lobby-overlay::-webkit-scrollbar-corner {
  background-color: #030303;
}

.lobby-overlay::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-linear-gradient(#33ccff, #0066cc);
}


/* ------------ Lobby Content CSS-------------- */

.middle-align-item {
  vertical-align: middle;
}

.Lobby {
  list-style-type: none;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight:800;
  font-family: fantasy;
  margin-top: 10vh;
}

.lobby-overlay {
  overflow: scroll;
  position: absolute;
  top: 150px;
  left: 2.5%;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, .92);
  border: 5px dotted slateblue;;
  z-index: 99999;
  animation: lobby-games 3s 6.1s 1 ease both;
}

.lobby-register {
  font-weight: 400;
  font-size: 30px;
  color: #0d1375;
  border: transparent;
  background: transparent;
  display: inline-block;
  margin: 40px auto 15px;
  cursor: pointer;
}

.play-button {
  padding: 5px 20px;
  background: black;
  border: 2px solid #4148b1;
  /*border: 1px solid #787DB8;*/
  border-radius: 25px;
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  background: -webkit-linear-gradient(#ccc, #4148b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}

.play-button:hover {
  background: -webkit-linear-gradient(#ccc, #4148b1);
  color: #eee;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #000;
}

/* ///////// Lobby New Game Button  //////// */
.btn {
  position: relative;
  color: #eee;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: "";
  transition: all 0.3s;
  width: 96%;
  height: 100%;
  z-index: 1;
}

.btn::before, .btn::after {
  content: "";
  transition: all 0.3s;
  width: 96%;
  height: 100%;
  z-index: 1;
}

.btnLn-two::before, .btnLn-two::after {
  content: "";
  position: absolute;
  width: 96%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 4px solid rgba(63,70,167,255);
  border-radius: 10px;
}

.btnLn-two:hover::after {
  animation-name: rotateclockwise;
  animation-duration: 2s;
}
.btnLn-two:hover::before {
  animation-name: rotatecounterclockwise;
  animation-duration: 3s;
}
.btnLn-two:hover::after, .btnLn-two:hover::before {
  left: 90px;
  width: 72px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateclockwise {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotatecounterclockwise {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}


/* ////////////////////// */

.lobby-jumbotron {
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 6px;
  margin-bottom: 30px;
  display: block;
}

.lobby-header {
  font-size: 63px;
  font-weight: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.1;
  display: block;
  left: 0;
  right: 0;
  top: 0.8em;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: -webkit-linear-gradient(#6600ff, #150a4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: title 2s 4s 1 ease both;
}


@keyframes title {
  0% {
    transform: translateZ(500px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes register-button {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes lobby-games {
  0% {
    top: 250px;
    opacity: 0;
  }
  100% {
    top: 150px;
  }
}

/*-------- live Game Table CSS ---------*/
.live-games {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  text-align: center;
  z-index: 9999;
}

.live-games table {
  margin: auto;
  border-collapse: collapse;
}

.live-games tbody tr {
  transition: background 200ms;
}

.live-games tbody tr:hover {
  background: rgba(255, 255, 255, 0.1);
}

.live-games th, .live-games td {
  padding: 6px 15px;
}

.live-games th {
  height: 30px;
  font-size: 25px;
  text-align: center;
  /*color: #787DB8;*/
  color: #548E8A;
}

.live-games td {
  font-size: 18px;
  border: 10px;
  height: 30px;
  text-align: center;
  color: #ddd;
}

.live-games .author {
  text-align: left;
}

/* .game-title {
  text-transform: uppercase;
} */

.live-games-header {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 3rem;
  line-height: 40px;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#eee, #4148b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  /* animation: blink 1s steps(4, start) infinite; */
}

h3:active {
  -webkit-box-shadow:
      0px 3px rgba(128,128,128,1),
      0px 4px rgba(118,118,118,1),
      0px 5px rgba(108,108,108,1),
      0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),
      0px 8px rgba(78,78,78,1),
      0px 10px 2px 0px rgba(128,128,128,.6);
}

.no-game-warning {
  color: #979ac5;
  font-size: 35px;
  margin-top: -5px;
}

 /* @keyframes blink{
   to{
     visibility: hidden
   }
} */

/* ---------------- Modal CSS ------------------------ */

#modal-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

.modal-container.register-modal {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.register-modal .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.register-modal.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.register-modal.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container .error-message {
  margin: 20px 5px;
  color: rgba(247, 147, 29, 1);
  font-weight: bold;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.interstitial-modal-overlay {
  background: linear-gradient(rgba(0, 0, 0, 1), hsla(185, 30%, 50%, 1.6), hsla(170, 50%, 10%, 0));
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interstitial-modal {
  position: absolute;
  top: 146px;
  width: 600px;
  height: 50%;
}

/* /////////////// Mountain (and Cryptocoin) Animation CSS ////////////////// */

.screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  perspective: 500px;
  font-size: 3vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom (102, 51, 255, 0.9) 60%, rgba(153, 0, 255, 0.9) 90%);
  /* animation: gray 1s 6.5s 1 ease-out both; */
}

@keyframes gray {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

/* tall mountain */
.screen::before {
  content: "";
  display: block;
  background-color: #fff;
  background-image:
    linear-gradient(-80deg, transparent 40%, #6600ff 30%, #3d65d6 70%, transparent 70%),
    linear-gradient(-80deg, transparent, #3d65d6 10%, #21acba 50%, transparent 70%),
    linear-gradient(-60deg, transparent, #0fe19f 80%, #8500ff 90%, transparent 90%),
    linear-gradient(30deg, transparent, #21acba  10%, #3d65d6  90%, transparent 90%),
    linear-gradient(10deg, transparent 10%, #3d65d6  10%, #10d6a9  80%, transparent 70%),
    linear-gradient(70deg, transparent 40%, #6600ff  30%, #9900ff  70%, transparent 70%),
    linear-gradient(transparent,transparent);
  background-position: -6em 4em, -2em 0em, 0em 5em, 8em 0em, 0em 5em, 1em 1em, 0 0;
  background-repeat: no-repeat;
  position: absolute;
  width: 20em;
  height: 20em;
  bottom: -14em;
  left: calc(50% - 10em);
  transform: scale(0.7, 1) rotate(45deg);
  animation: m 2s 0s 1 ease-out both;
}

@keyframes m {
  0% {transform: scale(0.6, 0.8) rotate(45deg);}
  100% {transform: scale(0.7, 1) rotate(45deg);}
}
/* low mountain */
.screen::after {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-image:
    linear-gradient(-193deg, rgba(0, 0, 0, 0) 40%, hsla(185, 30%, 50%, 0.6) 40%, hsla(170, 50%, 10%, 0)),
    linear-gradient(-180deg, rgba(0, 0, 0, 0) 40%, hsla(160, 40%, 50%, 0.6) 40%, hsla(33, 60%, 50%, 0.6) ),
    linear-gradient(-190deg, rgba(0, 0, 0, 0) 40%, hsla(185, 30%, 40%, 0.8) 40%, hsla(44, 70%, 20%, 0.8)),
    linear-gradient(-170deg, rgba(0, 0, 0, 0) 40%, hsla(185, 30%, 30%, 0.8) 40%, hsla(150, 30%, 10%, 0.8));
  background-position: 0 0px, 0 0px, 0 0px, 100% 0;
  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 20% 220%, 100% 200%, 50% 180%, 50% 180%;
  animation: m2 2s 0s 1 ease-out both;
}

@keyframes m2 {
  0% {transform: translateY(0) scale(1.5);}
  100% {transform: translateY(1em) scale(1);}
}

.screen .coin {
  height: 1.5em;
  width: 1.5em;
  left: calc(50% - 0.5em);
  bottom: 8em;
  line-height: 1.3;
  position: absolute;
  transform-origin: center center 0;
  z-index: 200;
  animation: flying 3s 0s 1 ease-in both;
}

@keyframes flying {
    0% {transform:translate3d(-2000%,-800%,700px) rotateX(130deg);}
  100% {transform:translate3d(0,0,0px) rotateX(0);}
}

.screen .coin::before {
  display: block;
  font-size: 1em;
  line-height: 1;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform-origin: center bottom 0;
  transform: rotate(320deg) translate(0px, 0em);
  animation: circle 3s 3.5s 1 linear both;/*forwards*/
}

@keyframes circle {
  0% {transform:rotate(320deg) translate(0px, 5.5em);}
  100% {transform:rotate(43deg) translate(0px, 5.5em);}
}

.screen .coin::after {
  display: block;
  animation: spin 5000ms linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.screen .coin:nth-child(1) {animation-delay: 0.1s;}
.screen .coin:nth-child(2) {animation-delay: 0.2s;}
.screen .coin:nth-child(3) {animation-delay: 0.3s;}
.screen .coin:nth-child(4) {animation-delay: 0.4s;}
.screen .coin:nth-child(5) {animation-delay: 0.5s;}
.screen .coin:nth-child(6) {animation-delay: 0.6s;}
.screen .coin:nth-child(7) {animation-delay: 0.7s;}
.screen .coin:nth-child(8) {animation-delay: 0.8s;}
.screen .coin:nth-child(9) {animation-delay: 0.9s;}
.screen .coin:nth-child(10) {animation-delay: 1.0s;}
.screen .coin:nth-child(11) {animation-delay: 1.1s;}
.screen .coin:nth-child(12) {animation-delay: 1.2s;}
.screen .coin:nth-child(13) {animation-delay: 1.3s;}
.screen .coin:nth-child(14) {animation-delay: 1.4s;}
.screen .coin:nth-child(15) {animation-delay: 1.5s;}
.screen .coin:nth-child(16) {animation-delay: 1.6s;}
.screen .coin:nth-child(17) {animation-delay: 1.7s;}
.screen .coin:nth-child(18) {animation-delay: 1.8s;}
.screen .coin:nth-child(19) {animation-delay: 1.9s;}
.screen .coin:nth-child(20) {animation-delay: 2.0s;}
.screen .coin:nth-child(21) {animation-delay: 2.1s;}
.screen .coin:nth-child(22) {animation-delay: 2.2s;}

.screen .coin:nth-child(2)::before   {content: url("/images/btc.svg"); animation-delay: 3.0s;animation-iteration-count: 0.9524;}
.screen .coin:nth-child(1)::before   {content: url("/images/dbc.svg"); animation-delay: 2.9s;animation-iteration-count: 1;}
.screen .coin:nth-child(3)::before   {content: url("/images/doge.svg"); animation-delay: 3.1s;animation-iteration-count: 0.9048;}
.screen .coin:nth-child(4)::before   {content: url("/images/elix.svg"); animation-delay: 3.2s;animation-iteration-count: 0.8571;}
.screen .coin:nth-child(5)::before   {content: url("/images/eth.svg"); animation-delay: 3.3s;animation-iteration-count: 0.8095;}
.screen .coin:nth-child(6)::before   {content: url("/images/huc.svg"); animation-delay: 3.4s;animation-iteration-count: 0.7619;}
.screen .coin:nth-child(7)::before   {content: url("/images/kmd.svg"); animation-delay: 3.5s;animation-iteration-count: 0.7143;}
.screen .coin:nth-child(8)::before   {content: url("/images/lrc.svg"); animation-delay: 3.6s;animation-iteration-count: 0.6580;}
.screen .coin:nth-child(9)::before   {content: url("/images/ltc.svg"); animation-delay: 3.7s;animation-iteration-count: 0.6190;}
.screen .coin:nth-child(10)::before  {content: url("/images/mkr.svg"); animation-delay: 3.8s;animation-iteration-count: 0.5714;}
.screen .coin:nth-child(11)::before  {content: url("/images/nmc.svg"); animation-delay: 3.9s;animation-iteration-count: 0.5238;}
.screen .coin:nth-child(12)::before  {content: url("/images/nxs.svg"); animation-delay: 4.0s;animation-iteration-count: 0.4762;}
.screen .coin:nth-child(13)::before  {content: url("/images/ox.svg"); animation-delay: 4.1s;animation-iteration-count: 0.4286;}
.screen .coin:nth-child(14)::before  {content: url("/images/pay.svg"); animation-delay: 4.2s;animation-iteration-count: 0.3810;}
.screen .coin:nth-child(15)::before  {content: url("/images/pot.svg"); animation-delay: 4.3s;animation-iteration-count: 0.3365;}
.screen .coin:nth-child(16)::before  {content: url("/images/powr.svg"); animation-delay: 4.4s;animation-iteration-count: 0.2857;}
.screen .coin:nth-child(17)::before  {content: url("/images/tel.svg"); animation-delay: 4.5s;animation-iteration-count: 0.2381;}
.screen .coin:nth-child(18)::before  {content: url("/images/xmr.svg"); animation-delay: 4.6s;animation-iteration-count: 0.1905;}
.screen .coin:nth-child(19)::before  {content: url("/images/zec.svg"); animation-delay: 4.7s;animation-iteration-count: 0.1429;}
.screen .coin:nth-child(20)::before  {content: url("/images/xvg.svg"); animation-delay: 4.8s;animation-iteration-count: 0.0952;}
.screen .coin:nth-child(21)::before  {content: url("/images/drgn.svg"); animation-delay: 4.9s;animation-iteration-count: 0.0476;}

/* ////////////////////////////////// */
@keyframes unfoldIn {
  0% {
    background-color:white; opacity: 1; transform: scaleY(0.005) scaleX(0);
  }
  50% {
    background-color:white; transform: scaleY(0.005) scaleX(1);
  }
  100% {
    background-color:white; opacity: .65; transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    background-color:white; opacity: .5; transform: scaleY(1) scaleX(1);
  }
  50% {
    background-color:white; transform: scaleY(0.005) scaleX(1);
  }
  100% {
    background-color:white; opacity: .65; transform: scaleY(0.005) scaleX(0);
  }
}


@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  98% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.coin.hide {
  visibility: hidden;
}

.lobby-overlay.hide {
  visibility: hidden;
}
