.Lobby * {
  animation: none !important;
}

html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #050833;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.Lobby {
  list-style-type: none;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight:800;
  font-family: fantasy;
  margin-top: 10vh;
}

.lobby-register {
  left: 0;
  right: 0;
  top: 3.2em;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: block;
  animation: register 3s 6s 1 ease both;
}

.lobby-register h4 {
  background: -webkit-linear-gradient(#eee, #4148b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lobby-register h4:active {
  -webkit-box-shadow:
      0px 3px rgba(128,128,128,1),
      0px 4px rgba(118,118,118,1),
      0px 5px rgba(108,108,108,1),
      0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),
      0px 8px rgba(78,78,78,1),
      0px 10px 2px 0px rgba(128,128,128,.6);
}

.lobby-register button {
  padding: 10px;
  background: white;
  color: blue;
  border-radius: 25px;
  display: inline-block;
  margin: 0 auto;
  -webkit-border-radius: 10px;
}

.lobby-jumbotron {
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 6px;
  margin-bottom: 30px;
  display: block;
}

.lobby-header {
  font-size: 63px;
  font-weight: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  display: block;
  left: 0;
  right: 0;
  top: 0.8em;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: -webkit-linear-gradient(#6600ff, #3d65d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: title 2s 4s 1 ease both;
}


@keyframes title {
  0% {
    transform: translateZ(500px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes register {
  0% {
    top: 0px;
    opacity: 0;
  }
  10% {
    top: 75px;
    opacity: 1;
  }
  100% {
    top: 100px;
  }
}

body.modal-active {
  overflow: hidden;
}

#modal-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

.modal-container.register-modal {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.register-modal .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.register-modal.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal-container.register-modal.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container .error-message {
  color: magenta;
  font-weight: bold;
  text-shadow: 3px 3px forestgreen;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.interstitial-modal-overlay {
  background: rgba(0,0, 0.75, 0.75);
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interstitial-modal {
  position: absolute;
  top: 146px;
  width: 600px;
  height: 50%;
  background: rgba(0,0,0,0.9);
  border: 2px solid white;
  z-index: 999;
}

/* ///////////////////////////////// */

.screen {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 500px;
  font-size: 3vw;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom (102, 51, 255, 0.9) 60%, rgba(153, 0, 255, 0.9) 90%);
  overflow: hidden;
  animation: gray 1s 6.5s 1 ease-out both;
}

@keyframes gray {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

/* tall mountain */
.screen::before {
  content: "";
  display: block;
  background-color: #fff;
  background-image:
    linear-gradient(-80deg, transparent 40%, #6600ff 30%, #3d65d6 70%, transparent 70%),
    linear-gradient(-80deg, transparent, #3d65d6 10%, #21acba 50%, transparent 70%),
    linear-gradient(-60deg, transparent, #0fe19f 80%, #8500ff 90%, transparent 90%),
    linear-gradient(30deg, transparent, #21acba  10%, #3d65d6  90%, transparent 90%),
    linear-gradient(10deg, transparent 10%, #3d65d6  10%, #10d6a9  80%, transparent 70%),
    linear-gradient(70deg, transparent 40%, #6600ff  30%, #9900ff  70%, transparent 70%),
    linear-gradient(transparent,transparent);
  background-position: -6em 4em, -2em 0em, 0em 5em, 8em 0em, 0em 5em, 1em 1em, 0 0;
  background-repeat: no-repeat;
  position: absolute;
  width: 20em;
  height: 20em;
  bottom: -14em;
  left: calc(50% - 10em);
  transform: scale(0.7, 1) rotate(45deg);
  animation: m 2s 0s 1 ease-out both;
}

@keyframes m {
  0% {transform: scale(0.6, 0.8) rotate(45deg);}
  100% {transform: scale(0.7, 1) rotate(45deg);}
}
/* low mountain */
.screen::after {
  content: "";
  display: block;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-image:
    linear-gradient(-193deg, rgba(0, 0, 0, 0) 40%, hsla(185, 30%, 50%, 0.6) 40%, hsla(170, 50%, 10%, 0)),
    linear-gradient(-180deg, rgba(0, 0, 0, 0) 40%, hsla(160, 40%, 50%, 0.6) 40%, hsla(33, 60%, 50%, 0.6) ),
    linear-gradient(-190deg, rgba(0, 0, 0, 0) 40%, hsla(185, 30%, 40%, 0.8) 40%, hsla(44, 70%, 20%, 0.8)),
    linear-gradient(-170deg, rgba(0, 0, 0, 0) 40%, hsla(185, 30%, 30%, 0.8) 40%, hsla(150, 30%, 10%, 0.8));
  background-position: 0 0px, 0 0px, 0 0px, 100% 0;
  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 20% 220%, 100% 200%, 50% 180%, 50% 180%;
  animation: m2 2s 0s 1 ease-out both;
}

@keyframes m2 {
  0% {transform: translateY(0) scale(1.5);}
  100% {transform: translateY(1em) scale(1);}
}

.screen p {
  height: 1em;
  width: 1em;
  left: calc(50% - 0.5em);
  top: calc(60%);
  line-height: 1.3;
  position: absolute;
  transform-origin: center center 0;
  z-index: 200;
  animation: flying 3s 0s 1 ease-in both;
}

@keyframes flying {
    0% {transform:translate3d(-2000%,-800%,700px) rotateX(130deg);}
  100% {transform:translate3d(0,0,0px) rotateX(0);}
}

.screen p::before {
  content: "⭐️";
  display: block;
  font-size: 1em;
  line-height: 1;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform-origin: center bottom 0;
  transform: rotate(320deg) translate(0px, 0em);
  animation: circle 3s 3.5s 1 linear both;/*forwards*/
}


.screen p:nth-child(1) {animation-delay: 0.1s;}
.screen p:nth-child(2) {animation-delay: 0.2s;}
.screen p:nth-child(3) {animation-delay: 0.3s;}
.screen p:nth-child(4) {animation-delay: 0.4s;}
.screen p:nth-child(5) {animation-delay: 0.5s;}
.screen p:nth-child(6) {animation-delay: 0.6s;}
.screen p:nth-child(7) {animation-delay: 0.7s;}
.screen p:nth-child(8) {animation-delay: 0.8s;}
.screen p:nth-child(9) {animation-delay: 0.9s;}
.screen p:nth-child(10) {animation-delay: 1.0s;}
.screen p:nth-child(11) {animation-delay: 1.1s;}
.screen p:nth-child(12) {animation-delay: 1.2s;}
.screen p:nth-child(13) {animation-delay: 1.3s;}
.screen p:nth-child(14) {animation-delay: 1.4s;}
.screen p:nth-child(15) {animation-delay: 1.5s;}
.screen p:nth-child(16) {animation-delay: 1.6s;}
.screen p:nth-child(17) {animation-delay: 1.7s;}
.screen p:nth-child(18) {animation-delay: 1.8s;}
.screen p:nth-child(19) {animation-delay: 1.9s;}
.screen p:nth-child(20) {animation-delay: 2.0s;}
.screen p:nth-child(21) {animation-delay: 2.1s;}
.screen p:nth-child(22) {animation-delay: 2.2s;}

.screen p:nth-child(1)::before   {animation-delay: 2.9s;animation-iteration-count: 1;}
.screen p:nth-child(2)::before   {animation-delay: 3.0s;animation-iteration-count: 0.9524;}
.screen p:nth-child(3)::before   {animation-delay: 3.1s;animation-iteration-count: 0.9048;}
.screen p:nth-child(4)::before   {animation-delay: 3.2s;animation-iteration-count: 0.8571;}
.screen p:nth-child(5)::before   {animation-delay: 3.3s;animation-iteration-count: 0.8095;}
.screen p:nth-child(6)::before   {animation-delay: 3.4s;animation-iteration-count: 0.7619;}
.screen p:nth-child(7)::before   {animation-delay: 3.5s;animation-iteration-count: 0.7143;}
.screen p:nth-child(8)::before   {animation-delay: 3.6s;animation-iteration-count: 0.6580;}
.screen p:nth-child(9)::before   {animation-delay: 3.7s;animation-iteration-count: 0.6190;}
.screen p:nth-child(10)::before  {animation-delay: 3.8s;animation-iteration-count: 0.5714;}
.screen p:nth-child(11)::before  {animation-delay: 3.9s;animation-iteration-count: 0.5238;}
.screen p:nth-child(12)::before  {animation-delay: 4.0s;animation-iteration-count: 0.4762;}
.screen p:nth-child(13)::before  {animation-delay: 4.1s;animation-iteration-count: 0.4286;}
.screen p:nth-child(14)::before  {animation-delay: 4.2s;animation-iteration-count: 0.3810;}
.screen p:nth-child(15)::before  {animation-delay: 4.3s;animation-iteration-count: 0.3365;}
.screen p:nth-child(16)::before  {animation-delay: 4.4s;animation-iteration-count: 0.2857;}
.screen p:nth-child(17)::before  {animation-delay: 4.5s;animation-iteration-count: 0.2381;}
.screen p:nth-child(18)::before  {animation-delay: 4.6s;animation-iteration-count: 0.1905;}
.screen p:nth-child(19)::before  {animation-delay: 4.7s;animation-iteration-count: 0.1429;}
.screen p:nth-child(20)::before  {animation-delay: 4.8s;animation-iteration-count: 0.0952;}
.screen p:nth-child(21)::before  {animation-delay: 4.9s;animation-iteration-count: 0.0476;}
.screen p:nth-child(22)::before  {animation-delay: 5.0s;animation-iteration-count: 0;}

/* ////////////////////////////////// */
@keyframes unfoldIn {
  0% {
    background-color:white; opacity: 1; transform: scaleY(0.005) scaleX(0);
  }
  50% {
    background-color:white; transform: scaleY(0.005) scaleX(1);
  }
  100% {
    background-color:white; opacity: .75; transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    background-color:white; opacity: .5; transform: scaleY(1) scaleX(1);
  }
  50% {
    background-color:white; transform: scaleY(0.005) scaleX(1);
  }
  100% {
    background-color:white; opacity: .75; transform: scaleY(0.005) scaleX(0);
  }
}


@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


/*-------- Table CSS ---------*/
table {
    color: #FFFFFF;
    font-family: sans-serif;
    width: auto;
    font-size: 20px;
}

td {
    border: 10px; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    text-align: center;
    background: -webkit-linear-gradient(#33ccff, #0066cc);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    }

/*
tr td:hover { background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
   color: #FFF; }
/* Hover cell effect! */


h3{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: #0066cc;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #A8A8A8,
    -4px 0 0 #B8B8B8,
    2px 0 0 #C8C8C8;
  animation: blink 1s steps(4, start) infinite;
}

 @keyframes blink{
   to{
     visibility: hidden
   }
}
